script(src='https://cdn.plot.ly/plotly-latest.min.js')

div#chart.tabcontent
	h4 Chart
	div(id='dashboard', style='width:640px')

script.
	var data = !{data};
	console.log("active #{active} " + data);

	var layout = {barmode: 'group'};

	Plotly.newPlot('dashboard', data, layout);