div.panel-collapse.collapse(id=category.idxName+"-"+child.idxName)
    if (child.datasets.length > 0)    
        div.panel-body
            form(action="/filter", method="get")
                each dataset in child.datasets
                    input(type="checkbox", name="dataset" value=dataset.idxName)
                    span  #{dataset.label}
                    br
                input.btn.btn-default.btn-right(id=child.label, type="submit", value="Go")