script.
    $(document).ready(function() {
        mapActive();
    });

    function mapActive() {
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        document.getElementById('map').style.display = "block";
    }

    function openTab(event, tabname) {
        // Declare all variables
        var i, tabcontent, tablinks, litabs;
        var litab = "li" + tabname;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        litabs = document.getElementsByClassName("litabs");
        for (i = 0; i < litabs.length; i++) {
            litabs[i].className = litabs[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(tabname).style.display = "block";
        event.currentTarget.className += " active";
        document.getElementById(litab).className += " active";
    }

div.col-md-9
    p.lead
        b Visualisation
    div.row.carousel-holder
        div.col-md-12
            div#carousel-example-generic.visual-box(display="inline-block")
                div.carousel-inner
                    div.row
                        div.col-lg-12
                            ul.nav.nav-tabs
                                li#lichart.litabs
                                    a.tablinks(href="#", onclick="openTab(event, 'chart')") Chart
                                li#limap.litabs
                                    a.tablinks(href="#", onclick="openTab(event, 'map')") Map
                                li#litable.litabs
                                    a.tablinks(href="#", onclick="openTab(event, 'table')") Table

                            include chart.pug

                            include map.pug

                            include table.pug

                br(style="clear: both;")