extend main

block content
    div.col-md-12
        p.lead
            b Dataset #{dataset.label}
            p #{dataset.description}
                table.table.table-hover
                    thead
                        tr
                            th Label
                            th Predicate URI
                    tbody
                        each predicate in predicates
                            tr
                                td 
                                    a(href="#") 
                                td 