script.
	var mapdata = !{mapdata};

	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 53.483959, lng: -2.244644},
			zoom: 11
		});

		var contentString = '<div id="content">'+
		'<div id="siteNotice">'+
		'</div>'+
		'<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
		'<div id="bodyContent">'+'<p><b>Uluru</b>'
		+'(last visited June 22, 2009).</p>'+
		'</div>'+'</div>';

		var infowindow = new google.maps.InfoWindow({ content: contentString });

		//- for (var i = 0; i<mapdata.length; i++){
		//- 	for (var j = 0; j<mapdata[i].rows.length; j++){
		//- 		var longitude = Number(mapdata[i].rows[j]['Longitude'].value);
		//- 		var latitude = Number(mapdata[i].rows[j]['Latitude'].value);
				
		//- 		var infowindow = new google.maps.InfoWindow({ content: contentString });

		//- 		var marker = new google.maps.Marker({
		//- 			position: {lat: longitude, lng: latitude},
		//- 			title: 'BOO'
		//- 		});

		//- 		marker.addListener('click', function() {
		//- 			infowindow.open(map, marker);
		//- 		});

		//- 		marker.setMap(map);
		//- 	}
		//- }

		var marker = new google.maps.Marker({
			position: {lat: 53.47055, lng: -2.20851},
			map: map, 
			title: 'BOO'
		});

		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});

	}

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcV5xnVZ71OOdC16XB7I3zwU9FuiLyFOc&callback=initMap")

div#map.tabcontent(style="height:480px")
