
script.
    $(document).ready(function() {
        $('#example').DataTable({
            "pageLength": 1,
            "searching": false,
            "ordering": false,
            "lengthChange": false,
            "scrollX": 480,
            "scrollY": 640
        });
    } );

div#table.tabcontent(style="height:480px;width:640px")
    if (ds)
        table#example.display(style="width:100%")
            thead
                tr
                    th
            tbody
                each table in ds
                    tr
                        td
                            h4 #{table.title}
                            table.table.table-hover
                                thead
                                    tr
                                        each attr in table.attributes
                                            th #{attr.label}
                                tbody
                                    each row in table.rows
                                        tr
                                            each attr in table.attributes
                                                td
                                                    a(href=row[attr.label].value) #{row[attr.label].value}