div#table.tabcontent
    h4 Table Title
    table.table.table-hover
        thead
            tr
                th Reference Area
                th Area Name
                th Rank
        tbody
            tr
                td
                    a(href="#") E1000010
                td Manchester 001A
                td 1
            tr
                td
                    a(href="#") E1000011
                td Manchester 001B
                td 2
            tr
                td
                    a(href="#") E1000012
                td Manchester 001C
                td 3