script(src='https://cdn.plot.ly/plotly-latest.min.js')

div#chart.tabcontent(style="width:1280px")
	//- h4 Chart
	div(id='dashboard')

script.
	var data = !{data};
	var chartOptions = !{chartOptions}; 
	var layout = {barmode: 'group', title: chartOptions.title, 
				xaxis: {title: chartOptions.xtitle}, yaxis: {title: chartOptions.ytitle}, 
				height:720, width:1280, margin: {b: 200} };

	Plotly.newPlot('dashboard', data, layout);