<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="dissertation project">
        <meta name="author" content="rachmawaty sudirman">

        <title>Manchester Linked City Data | Home</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/manlcd.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        
        <style type="text/css">
            #map {
                height: 480px;
            }
        </style>
        <!-- Google MAPS === GOOGLE MAPS API KEY: AIzaSyDcV5xnVZ71OOdC16XB7I3zwU9FuiLyFOc -->
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 53.483959, lng: -2.244644},
              zoom: 11
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcV5xnVZ71OOdC16XB7I3zwU9FuiLyFOc&callback=initMap" async defer></script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ["Area", "Rank", { role: "style" } ],
                ["Manchester A", 894, "#b87333"],
                ["Mamchester B", 1049, "silver"],
                ["Manchester C", 1930, "gold"],
                ["Manchester D", 2145, "color: #e5e4e2"]
              ]);

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1,
                               { calc: "stringify",
                                 sourceColumn: 1,
                                 type: "string",
                                 role: "annotation" },
                               2]);

              var options = {
                //title: "Deprivation Rank",
                width: 600,
                height: 400,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
              };
              var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
              chart.draw(view, options);
            }
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                //alert("Hi!");
                mapActive();
            });

            function getCheckedCheckboxesFor(checkboxName) {
                var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
                Array.prototype.forEach.call(checkboxes, function(el) {
                    values.push(el.value);
                });
                return values;
            }

            function mapActive() {
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                document.getElementById('map').style.display = "block";
                //document.getElementById('limap').className = "active";
            }

            function openTab(event, tabname) {
                // Declare all variables
                var i, tabcontent, tablinks, litabs;
                var litab = "li" + tabname;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                litabs = document.getElementsByClassName("litabs");
                for (i = 0; i < litabs.length; i++) {
                    litabs[i].className = litabs[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the link that opened the tab
                document.getElementById(tabname).style.display = "block";
                event.currentTarget.className += " active";
                document.getElementById(litab).className += " active";
            }
        </script>    

    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><b>M</b>anchester<b>LCD</b></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/datasets">Datasets</a>
                        </li>
                        <li>
                            <a class="active-menu" style="color:white" href="/visualisation">Visualisation</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- Left Column -->
                <div class="col-md-3">
                    <p class="lead"><b>Category</b></p>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#deprivation">
                                        Deprivation
                                    </a>
                                </h4>
                            </div>
                            <div id="deprivation" class="panel-collapse collapse">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#deprivation" href="#deprivation-rank">
                                                Rank
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="deprivation-rank" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form action="#" method="get">
                                              <input type="checkbox" name="dataset" value="crime"> Crime<br>
                                              <input type="checkbox" name="dataset" value="education"> Education<br>
                                              <input type="checkbox" name="dataset" value="employment"> Employment<br>
                                              <input type="checkbox" name="dataset" value="environment"> Environment<br>
                                              <input type="checkbox" name="dataset" value="health"> Health<br>
                                              <input type="checkbox" name="dataset" value="housing"> Housing<br>
                                              <input type="checkbox" name="dataset" value="income"> Income<br>
                                              <input type="submit" class="btn btn-default btn-right" value="Go" id="go-rank">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#deprivation" href="#deprivation-score">
                                                Score
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="deprivation-score" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form action="#" method="get">
                                              <input type="checkbox" name="dataset" value="crime"> Crime<br>
                                              <input type="checkbox" name="dataset" value="education"> Education<br>
                                              <input type="checkbox" name="dataset" value="employment"> Employment<br>
                                              <input type="checkbox" name="dataset" value="environment"> Environment<br>
                                              <input type="checkbox" name="dataset" value="health"> Health<br>
                                              <input type="checkbox" name="dataset" value="housing"> Housing<br>
                                              <input type="checkbox" name="dataset" value="income"> Income<br>
                                              <input type="submit" class="btn btn-default btn-right" value="Go" id="go-score">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#public-transport">
                                        Public Transport 
                                    </a>
                                </h4>
                            </div>
                            <div id="public-transport" class="panel-collapse collapse">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#public-transport" href="#bus">
                                                Bus
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="bus" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form action="#" method="get">
                                                <div style="height: 200px;overflow: scroll;">
                                                    <input type="checkbox" name="route" value="38"> Route 38<br>
                                                    <input type="checkbox" name="route" value="50"> Route 50<br>
                                                    <input type="checkbox" name="route" value="85"> Route 85<br>
                                                    <input type="checkbox" name="route" value="86"> Route 86<br>
                                                    <input type="checkbox" name="route" value="141"> Route 141<br>
                                                    <input type="checkbox" name="route" value="142"> Route 142<br>
                                                    <input type="checkbox" name="route" value="143"> Route 143<br>
                                                    <input type="checkbox" name="route" value="147"> Route 147<br>
                                                    <input type="checkbox" name="route" value="192"> Route 192<br>
                                                    <input type="checkbox" name="route" value="197"> Route 197<br>
                                                    <input type="checkbox" name="route" value="250"> Route 250<br>
                                                </div>
                                                <input type="submit" class="btn btn-default btn-right" value="Go" id="go-bus">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#public-transport" href="#tram">
                                                Tram
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#public-transport" href="#train">
                                                Train
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="others">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Other Categories
                                    </a>
                                    <!-- <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i> -->
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-9">
                    <p class="lead"><b>Visualisation</b></p>
                    <div class="row carousel-holder">
                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="visual-box" display="inline-block">
                                <div class="carousel-inner">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <ul class="nav nav-tabs">
                                              <li id="lichart" class="litabs"><a href="#" class="tablinks" onclick="openTab(event, 'chart')">Chart</a></li>
                                              <li id="limap" class="litabs"><a href="#" class="tablinks" onclick="openTab(event, 'map')">Map</a></li>
                                              <li id="litable" class="litabs"><a href="#" class="tablinks" onclick="openTab(event, 'table')">Table</a></li>
                                            </ul>

                                            <div id="chart" class="tabcontent">
                                            <h4>Crime Rank</h4>

                                            <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
                                            </div>

                                            <div id="map" class="tabcontent"></div>

                                            <div id="table" class="tabcontent">
                                                <h4> Table </h4>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Reference Area</th>
                                                            <th>Area Name</th>
                                                            <th>Rank</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a href="#">E1000010</a></td>
                                                            <td>Manchester A</td>
                                                            <td>1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>E1000011</td>
                                                            <td>Manchester B</td>
                                                            <td>2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>E1000012</td>
                                                            <td>Manchester C</td>
                                                            <td>3</td>
                                                        </tr>
                                                    </tbody>
                                              </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br style="clear: both;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div class="container">
            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12" align="center">
                        <p>Copyright &copy; Manchester Linked City Data 2016 by RS</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
    </body>

</html>
