script.
	var mapdata = !{mapdata};
	var dataTitle = "#{title}";

	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 53.483959, lng: -2.244644},
			zoom: 11
		});

		var bounds = new google.maps.LatLngBounds();
		var mapOptions = {
			mapTypeId: 'roadmap'
		};
		
		var contents = [];
		var infoWindow = new google.maps.InfoWindow(), marker, i;
		for (var i = 0; i<mapdata.length; i++){
			var areaLabel = mapdata[i].area;
			var infoContent = mapdata[i].info;
			var content = '<div class="info_content">' +
						'<h4>'+ dataTitle + " - " + areaLabel +'</h4>'+
						'<p>'+ infoContent +'</p></div>';
			contents.push(content);
			var longitude = Number(mapdata[i].long);
			var latitude = Number(mapdata[i].lat);
			var _position = new google.maps.LatLng(latitude, longitude);
			var _title = areaLabel;
			bounds.extend(_position);
			marker = new google.maps.Marker({
			    position: _position,
			    map: map,
			    title: _title
			});

			// Allow each marker to have an info window    
			google.maps.event.addListener(marker, 'click', (function(marker, i) {
			    return function() {
			        infoWindow.setContent(contents[i]);
			        infoWindow.open(map, marker);
			    }
			})(marker, i));
		}
	}

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcV5xnVZ71OOdC16XB7I3zwU9FuiLyFOc&callback=initMap")

div#map.tabcontent(style="height:480px")
